.tennisChallenge

  @media screen and (max-width: 1570px)
    .levels
      .decor
        top: -50px
        left: 50%
        transform: translateX(-50%)
        width: 85%
        &__shutterstock
          &.left
            top: 120px
          &.right
            top: 30px
        &__ball
          &.ball-right
            top: 150px

  @media screen and (max-width: 1380px)
    .banner
      width: 1380px
      &__wrapp
        padding: 0 100px

  @media screen and (max-width: 1315px)
    .cont
      width: 1230px
    .levels
      &__cards
        gap: 12px
      .decor
        width: 80%
        &__shutterstock.right
          right: -125px
        &__ball.ball-right
          right: -100px
    .progress
      width: 100%
      &__wrapp
        width: 95%
      &__bets
        gap: 10px

  @media screen and (max-width: 1250px)
    .cont
      width: 100%
    .banner
      width: 100%
      height: 511px
      &__wrapp
        padding: 0 50px
      &__content
        gap: 24px
      &__top
        font-size: 56px
        line-height: 64px
      &__center
        height: 60px
        margin-top: -4px
        padding: 14px 16px 10px 16px
        font-size: 43px
        span
          margin-right: 10px
          margin-bottom: -10px
          font-size: 30px
      &__bottom
        font-size: 22px
        line-height: 29px
      //&__btn
      //  font-size: 14px
      //  height: 40px
      //  min-width: 158px
      //  padding: 0 4px
      .decor
        &__girl
          width: 672px
        &__ball
          &.ball-left
            width: 66px
            top: 92px
            right: 440px
          &.ball-right
            width: 80px
            top: 72px
            right: -16px
    .levels
      .decor
        width: 70%
      &__title
        max-width: 550px
        text-align: center
        line-height: 130%
      &__cards
        width: 100%
      &__card
        width: 31%
        min-height: 477px
        background-size: 100% 100%
        &-insurance
          width: 103%
        &:hover
          background-size: 100% 100%
          min-height: 477px

  @media screen and (max-width: 1190px)
    .progress
      &__right
        max-width: 350px
        &-title
          font-size: 25px
          line-height: 34px
    .reminder
      &__wrapp
        padding-right: 70px


  @media screen and (max-width: 1050px)
    .h2
      font-size: 24px
    .cont
      width: 755px
    .banner
      width: 100%
      height: 552px
      &__wrapp
        padding: 0 0 0 50px
      &__content
        max-width: 275px
        gap: 30px
      &__top
        font-size: 52px
        line-height: 55px
      &__center
        font-size: 32px
        height: 50px
        span
          font-size: 22px
          margin-right: 6px
      &__bottom
        font-size: 20px
        line-height: 24px
      .decor
        &__ball.ball-left
          top: 120px
    .levels
      margin-top: 80px
      .decor
        &__ball
          width: 65px
          &.ball-left
            left: -20px
            top: 40px
          &.ball-right
            right: -90px
        &__shutterstock
          width: 80px
          &.left
            left: -84px
          &.right
            right: -53px
      &__wrapp
        gap: 20px
      &__title
        max-width: 375px
        font-size: 28px
        line-height: 34px
        span
          font-size: 28px
          line-height: 34px
      &__txt
        font-size: 14px
        line-height: 18px
        max-width: 530px
      .decor
        width: 85%
      &__cards
        margin-top: 35px
      &__card
        min-height: 356px
        height: 356px
        border-radius: 9px
        padding: 25px 18px 24px
        &:hover
          min-height: 356px
          height: 356px
        &-icon
          width: 95px
          height: 100px
        &-title
          font-size: 28px
          margin-top: -23px
        &-reward
          margin-top: 9px
          height: 35px
          font-size: 22px
          padding: 7px 15px 3px 15px
          span
            font-size: 14px
        &-insurance
          background: none
          width: 108%
          gap: 5px
          margin-top: -26px
          min-height: 100px
          height: 100px
        &-bi
          font-size: 14px
          white-space: nowrap
          span
            font-size: 14px
        &-biPrize
          font-size: 22px
          span
            font-size: 14px
        &-min
          font-size: 12px
          width: 120px
        &-btn
          width: 98%
    .progress
      width: 1050px
      &:before
        height: 222px
      &:after
        height: 222px
        top: 222px
      &__wrapp
        width: 720px
        gap: 20px
      &__top
        margin-bottom: 98px
      &__left
        gap: 20px
        position: relative
        &._light
          .progress__left-stars
            left: 157px
            background-position: 0 50%
        &._pro
          .progress__left-stars
            left: 154px
            background-position: 25% 50%
        &._extreme
          .progress__left-stars
            left: 170px
        &-info
          padding-top: 50px
        &-logo
          width: 113px
          height: 130px
        &-stars
          width: 110px
          height: 68px
          bottom: 78px
          left: 162%
        &-info
          gap: 10px
        &-greeting
          font-size: 16px
        &-name
          font-size: 40px
          line-height: 44px
          letter-spacing: 0.4px
        &-prize
          margin-top: 0
          position: absolute
          left: 0
          bottom: -51px
        &-reward
          margin-top: 9px
          height: 40px
          font-size: 22px
          padding: 10px 15px 3px 15px
          span
            font-size: 14px
        &-insurance
          &:before
            font-size: 24px
            line-height: 33px
        &-bi, &-biPrize
          white-space: nowrap
          font-size: 16px
          letter-spacing: 0.16px
        &-bottom
          position: absolute
          bottom: -90px
          left: 0
      &__right
        max-width: 300px
        gap: 14px
        &-title
          font-size: 22px
          line-height: 28px
      &__bets
        &-item
          height: 109px
          background-position: -40px 0
          border: 2px solid rgba(255, 255, 255, 0.40)
          &.you
            background-position: -40px 0
            border: 2px solid #09D6D8
            height: 137px
            &:hover
              background-position: -40px 0
              border: 2px solid $accent-cyan
        &-number
          font-size: 32px
          text-shadow: 0 4px 4px #112D3F
        &-bet
          font-size: 14px
      &__btn
        &:not(.btn-join)
          min-width: 50px
          height: 40px
      &__txt
        font-size: 14px
        width: 562px

    .reminder
      height: 353px
      &__wrapp
        padding: 0 50px 0 30px
        min-height: 353px
        background-size: 100% 100%
      &__left
        max-width: 330px
      &__title
        &-top
          font-size: 28px
          line-height: 32px
          span
            font-size: 28px
            line-height: 32px
        &-btn
          right: 37px
          bottom: 5px
      &__timerLabel
        font-size: 16px
      &__timer
        gap: 23px
      &__unit
        gap: 7px
        &:not(:last-child)
          &:after
            font-size: 24px
            right: -14px
      &__value
        width: 52px
        height: 37px
        font-size: 24px
      &__label
        font-size: 12px
      .decor
        &__rackets
          width: 300px
        &__ball
          width: 80px
          &.ball-left
            top: 100px
            right: -22px
        &__shutterstock
          width: 90px
    .drop
      width: 703px
    .dropdown
      margin: 20px auto 50px
    .table
      max-width: 703px
    .note
      width: 703px


  @media screen and (max-width: 960px)
    .banner
      height: 397px
      &__wrapp
        padding-right: 0
      &__content
        gap: 20px
      .decor
        &__girl
          width: 550px
        &__ball
          &.ball-left
            width: 50px
            right: 340px
          &.ball-right
            width: 55px

  @media screen and (max-width: 835px)
    .banner
      .decor
        margin-left: -20px

  @media screen and (max-width: 767px)
    .cont
      width: 100%
    .banner
      &__wrapp
        padding-left: 20px
    .levels
      &__card
        &-btn
          min-width: 130px
    .progress
      width: 100%
      &__wrapp
        width: 95%
    .reminder
      &__wrapp
        padding-right: 0
    .drop
      width: 550px
    .table
      max-width: 550px
    .note
      width: 550px


  @media screen and (max-width: 695px)
    .banner
      height: 375px
      &__content
        transform: scale(0.9)
        transform-origin: center left
      .decor
        margin-left: -44px
        &__girl
          width: 480px
    .levels
      .decor
        &__shutterstock.left
          display: none
        &__ball
          &.ball-right
            display: none
    .progress
      &__right
        max-width: 250px
        &-title
          font-size: 18px
          line-height: 23px
        &-updated
          font-size: 13px
          span
            font-size: 13px
      &__btn
        &:not(.btn-join)
          font-size: 15px
    .reminder
      .decor
        &__rackets
          width: 280px
        &__ball
          width: 70px
        &__shutterstock
          width: 70px
          left: -25px

  @media screen and (max-width: 635px)
    .reminder
      .decor
        &__rackets
          width: 260px
      &__title
        &-btn
          right: 17px

  @media screen and (max-width: 600px)
    .cont
      width: 373px
    .banner
      width: 100%
      height: 465px
      background-size: cover
      background-position: 50% 50%
      margin-bottom: 50px
      &__wrapp
        padding: 0
        flex-direction: column-reverse
        align-items: center
        overflow: visible
      &__content
        z-index: 3
        transform: none
        transform-origin: center
        width: 100%
        max-width: 100%
        align-items: center
        gap: 14px
      &__top
        font-size: 38px
      &__bottom
        text-align: center
      .decor
        position: absolute
        top: 0
        width: 400px
        margin: 0 auto
        height: 100px
        left: 48%
        transform: translateX(-50%)
        &__girl
          max-width: 400px
          margin: 0 auto
        &__ball
          &.ball-left
            width: 38px
            top: 65px
            right: 293px
          &.ball-right
            width: 35px
            right: 26px
            top: 45px
    .levels
      margin-top: 0
      padding-top: 98px
      width: 100%
      background: url("../img/progress/progress-bg-mob.jpg") no-repeat 50% 0/contain
      &:after
        pointer-events: none
        user-select: none
        content: ""
        position: absolute
        top: 140px
        left: 0
        width: 100%
        height: 151px
        background: linear-gradient(0deg, #081720 37.84%, rgba(8, 23, 32, 0.00) 100%)
      &__wrapp
        width: 335px
        margin: 0 auto
        z-index: 4
      .decor
        display: none
      &__title
        z-index: 2
        font-size: 24px
        line-height: 32px
        span
          font-size: 24px
          line-height: 32px
          color: $text-gray
      &__txt
        z-index: 2

      &__cards
        flex-direction: column
        align-items: center
        width: 100%
        margin-top: 15px
        z-index: 3
        gap: 40px
      &__card
        align-items: flex-end
        width: 100%
        max-width: 335px
        height: 257px
        min-height: 257px
        padding: 28px 16px 19px 16px
        position: relative
        &:hover
          height: 257px
          min-height: 257px
        &-header
          position: absolute
          left: 10%
          top: 18px
        &-insurance
          width: fit-content
        &-min
          width: 90%
        &-star
          left: 32%
          animation: levelsStarPopMob 2s ease-in-out backwards infinite
        &._light &-star
          animation-delay: 0s
        &._pro &-star
          animation-delay: 0.5s
        &._extreme &-star
          animation-delay: 1s
        &-btn
          width: 96%

    .progress
      &:before
        display: none
      &:after
        top: 60px
      &__wrapp
        width: 100%
        padding-top: 27px
      &__top
        flex-direction: column-reverse
        justify-content: center
        align-items: center
        background-size: auto 200px
      &__left
        width: 100%
        max-width: 334px
        background: url('../img/progress/bg-bets-mob.jpg') no-repeat 50% 0/cover
        padding-top: 25px
        align-items: center
        justify-content: flex-start
        gap: 17px
        &._light
          .progress__left-stars
            left: 150px
            background-position: 0 50%
        &._pro
          .progress__left-stars
            left: 148px
            background-position: 25% 50%
        &-info
          gap: 0
          padding-top: 46px
        &-icons
          position: relative
        &-stars
          bottom: 66px
          //left: 149%
          left: 165px
        &-logo
          width: 110px
          height: 120px
        &-greeting
          font-size: 14px
        &-name
          font-size: 32px
          letter-spacing: 0.32px
        &-prize
          left: 50%
          transform: translateX(-50%)
        &-bottom
          left: 34%
          transform: translateX(-50%)
          max-width: 335px
      &__right
        width: 90%
        max-width: 340px
        text-align: center
        margin-bottom: 30px
        &-title
          font-size: 24px
          line-height: 32px
        &-updated
          display: none
          width: 100%
          font-size: 14px
      &__bets
        flex-direction: column
        max-width: 335px
        width: 100%
        z-index: 5
        gap: 8px
        &-item
          border: 1px solid rgba(255, 255, 255, 0.20)
          border-radius: 6px
          height: 60px
          min-height: 60px
          flex-direction: row
          background-position: 0 0
          align-items: center
          padding-top: 0
          padding-left: 14px
          gap: 10px
          &.you
            border: 2px solid #09D6D8
            height: 114px
            min-height: 114px
            justify-content: flex-start
            background-position: 0 0
            align-items: flex-start
            padding-top: 10px
            &:hover
              border: 2px solid $accent-cyan
              background-position: 0 0
              background-color: red
            .progress__btn
                position: absolute
                width: 100%
                left: 0
                bottom: 0
                height: 50px
            .progress__bets-bet
              padding-top: 10px
        &-status
          right: 10px
          top: 9px
      &__updated-mob
        display: block
        color: $text-light
        font-size: 14px
        line-height: 100%
        font-family: $font-exo2-regular
        border-radius: 4px
        padding: 8px 14px
        background-color: $bg-table-head
        max-width: 335px
        width: 100%
        text-align: center
      &__txt
        max-width: 335px
        width: 100%
    .reminder
      height: 695px
      margin-bottom: 30px
      &.cont
        width: 100%
        margin-top: 0
      &__wrapp
        padding: 0
        flex-direction: column-reverse
        //background-size: auto 238px
        background-size: auto 389px
        background-position: 50% 0
        align-items: center
        justify-content: flex-start
        gap: 40px
      &__right
        align-self: center
      .decor
        &__rackets
          width: 366px
      &__left
        align-items: center
        gap: 25px
      &__title
        &-top
          text-align: center
          font-size: 24px
          line-height: 32px
          span
            font-size: 24px
            line-height: 32px
            color: $text-gray
        &-btn
          right: 21px
          bottom: 7px
    .results
      &.cont
        //margin-top: 120px
    .table
      max-width: 335px
      &__row
        padding: 0
        &.place1
          &.you
            .table__row-item
              &:nth-child(1)
                &::before
                  display: none
            .you
              left: 6px
        &-item
          font-size: 11px
          &:nth-child(2)
            width: 96px
    .drop
      width: 335px
    .note
      width: 335px
    .popups
      &__item
        transform: scale(0.85)

  @media screen and (max-width: 600px) and (max-height: 600px)
    .popups
      &__item
        transform: scale(0.8)

  @media screen and (max-width: 437px)
    .levels
      &:after
        top: 100px
    .progress
      &__left
        &-bottom
          left: 43%
          white-space: nowrap
          width: 280px
    .reminder
      height: 588px
      &__wrapp
        background-size: auto 290px
        gap: 30px
      .decor
        &__rackets
          width: 270px
        &__ball
          width: 60px
        &__shutterstock
          width: 60px
          bottom: 40px

  @media screen and (max-width: 375px)
    .reminder
      height: 525px
      &__wrapp
        background-size: auto 250px
        gap: 20px
      .decor
        &__rackets
          width: 210px
        &__ball
          width: 50px
          &.ball-left
            top: 44px
            right: -50px
        &__shutterstock
          width: 50px

  @media screen and (max-width: 370px)
    .cont
      width: 310px
    .banner
      &__top
        font-size: 34px
    .levels
      width: 100%
      background-size: contain
      &__wrapp
        width: 100%
      &__title
        font-size: 21px
        line-height: 30px
        span
          font-size: 22px
          line-height: 30px
      &__cards
        width: 100%
      &__card
        width: 90%
        min-width: 312px
    .progress
      &__left
        max-width: 310px
      &__right
        &-title
          font-size: 21px
          line-height: 29px
      &__leftMob
        width: 100%
        max-width: 325px
      &__left
        &-prize
          gap: 25px
        &-insurance
          &:before
            left: -20px
        &-bottom
          left: 46%
      &__bets
        max-width: 310px
      &__updated-mob
        max-width: 310px
    .drop, .note
      width: 310px

  @media screen and (max-width: 950px) and (max-height: 500px) and (orientation: landscape)
    .popups
      &__item
        width: 700px
        height: 490px
        &-body
          width: 100%
          height: 100%
      &._reminderInfo
        ._reminderInfo
          max-height: 198px

  @media screen and (max-width: 950px) and (max-height: 490px) and (orientation: landscape)
    .popups
      &__item
        transform: scale(0.8)
        transform-origin: center
        &-content
          p
            margin-bottom: 5px

  @media screen and (max-width: 950px) and (max-height: 430px) and (orientation: landscape)
    .popups
      &__item
        transform: scale(0.75)

  @media screen and (max-width: 950px) and (max-height: 395px) and (orientation: landscape)
    .popups
      &__item
        transform: scale(0.65)

  @media screen and (max-width: 950px) and (max-height: 340px) and (orientation: landscape)
    .popups
      &__item
        transform: scale(0.6)




