@import "../var"

.tennisChallenge.en
  .levels__title
    max-width: 700px
    @media screen and (max-width: 1050px)
      max-width: 500px
    @media screen and (max-width: 1050px)
      max-width: 300px
  .table__row.you .you
    left: 4px
    @media screen and (max-width: 600px)
      font-size: 9px
      padding: 1px 2px 2px
  .reminder
    @media screen and (max-width: 600px)
      height: 730px
    @media screen and (max-width: 437px)
      height: 617px
    @media screen and (max-width: 370px)
      height: 570px
  .reminder__title-top
    @media screen and (max-width: 600px)
      max-width: 250px
  .reminder__title-btn
    right: 185px
    @media screen and (max-width: 620px)
      right: 168px
    @media screen and (max-width: 600px)
      right: 30px
